{% if privacy_settings.privacy_show %}
    
    {% if store.editing_mode == false %}
        <div id="cookies" class="animated slideIn shadow-lg z-3 fixed-bottom bg-light-subtle alert alert-dismissible rounded-0 border-0 mb-0 text-center py-3 px-3" role="alert">
            <div class="container d-flex flex-column-reverse flex-md-row justify-content-evenly justify-content-md-between align-items-center g-0">
                <div class="order-1 order-sm-0 text-center flex-grow-1 text-secondary">
                    <span class="px-1">
                        <i class="ti ti-cookie align-middle" aria-hidden="true"></i>
                    </span>
                    {% if privacy_settings.privacy_title %}
                        {{ privacy_settings.privacy_title }}
                    {% else %}
                        {{ locals.cookies.message }}
                    {% endif %}
                    <a target="_self" href="{% if privacy_settings.privacy_link %}{{ privacy_settings.privacy_link }}{% else %}/pages/privacy-policy{% endif %}" target="_self" class="text-decoration-none link-primary">
                        {% if privacy_settings.privacy_link_text %}
                            {{ privacy_settings.privacy_link_text }}
                        {% else %}
                            {{ locals.cookies.link }}
                        {% endif %}
                    </a>
                </div>
                <button type="button" class="btn btn-sm btn-primary px-4 rounded-pill mt-3 mt-sm-0" onclick="window.setGetCookies()">
                    <i class="ti ti-shield-check align-middle" aria-hidden="true"></i>
                    <span class="px-0">
                        {% if privacy_settings.privacy_accept %}
                            {{ privacy_settings.privacy_accept }}
                        {% else %}
                            {{ locals.cookies.accept }}
                        {% endif %}
                    </span>
                </button>
            </div>
        </div>
        {% block footer_scripts %}
            <script defer src="{{ assetUrl('cookies.js') }}"></script>
        {% endblock %}
    {% endif %}
{% endif %}
