<div class="offcanvas offcanvas-end border-0 shadow-sm" tabindex="-1" data-bs-scroll="true" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
	<div class="offcanvas-header bg-secondary-subtle">
		<h6 class="offcanvas-title fw-bold" id="offcanvasCartLabel">
			{{ locals.offcanvasCart.header.title }}
		</h6>
		<button type="button" class="btn-none p-0 text-body-emphasis grow" data-bs-dismiss="offcanvas" aria-label="{{ locals.accessibility.close.label }}">
			<i class="ti ti-x align-middle fs-5" aria-hidden="true"></i>
		</button>
	</div>
	<div class="offcanvas-body p-0">
		<div class="p-3">
			<div class="text-center py-3 border rounded border-secondary border-opacity-10 shadow-sm js-cart-is-empty">
				<div class="vstack gap-2">
					<svg class="text-primary text-opacity-75 col-4 mx-auto active" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784 820" preserveaspectratio="xMidYMid meet" width="784" height="100%">
						<defs>
							<clipPath id="__lottie_cart_element_1439">
								<rect width="784" height="820" x="0" y="0" class="cart-is-empty-1"></rect>
							</clipPath>
							<filter id="__lottie_cart_element_1459" filterunits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
								<feComponentTransfer in="SourceGraphic">
									<feFuncA type="table" tablevalues="1.0 0.0"></feFuncA>
								</feComponentTransfer>
							</filter>
							<mask id="__lottie_cart_element_1455" mask-type="alpha">
								<g filter="url(#__lottie_cart_element_1459)">
									<rect width="784" height="820" x="0" y="0" fill="#ffffff" opacity="0" class="cart-is-empty-2"></rect>
									<g transform="matrix(1,0,0,1,392,444.6077575683594)" opacity="1" style="display: block;">
										<g opacity="1" transform="matrix(1,0,0,1,-14,84)">
											<path fill="currentColor" fill-opacity="1" d=" M358.00079345703125,-279.9931640625 C358.0048522949219,-279.9914245605469 358.0002746582031,180.00315856933594 358.0002746582031,180.00315856933594 C358.0002746582031,180.00315856933594 -357.9997253417969,180.00315856933594 -357.9997253417969,180.00315856933594 C-357.9997253417969,180.00315856933594 -358.0040588378906,-281.9912414550781 -358.0000305175781,-281.99310302734375 C-357.99249267578125,-281.9965515136719 357.993408203125,-279.9963684082031 358.00079345703125,-279.9931640625z" class="cart-is-empty-3"></path>
											<path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="currentColor" stroke-opacity="1" stroke-width="5.4" d=" M358.00079345703125,-279.9931640625 C358.0048522949219,-279.9914245605469 358.0002746582031,180.00315856933594 358.0002746582031,180.00315856933594 C358.0002746582031,180.00315856933594 -357.9997253417969,180.00315856933594 -357.9997253417969,180.00315856933594 C-357.9997253417969,180.00315856933594 -358.0040588378906,-281.9912414550781 -358.0000305175781,-281.99310302734375 C-357.99249267578125,-281.9965515136719 357.993408203125,-279.9963684082031 358.00079345703125,-279.9931640625z" class="cart-is-empty-4"></path>
										</g>
									</g>
								</g>
							</mask>
						</defs>
						<g clip-path="url(#__lottie_cart_element_1439)">
							<g mask="url(#__lottie_cart_element_1455)" style="display: none;">
								<g transform="matrix(1,0,0,1,392,432.2142333984375)" opacity="1">
									<g opacity="1" transform="matrix(1,0,0,1,0,0)">
										<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M222.54031372070312,-196.8846435546875 C222.54031372070312,-196.8846435546875 -220.53768920898438,-196.8846435546875 -220.53768920898438,-196.8846435546875 C-220.53768920898438,-196.8846435546875 -258.53900146484375,252.98699951171875 -258.53900146484375,252.98699951171875 C-258.53900146484375,296.98699951171875 -222.53900146484375,332.98699951171875 -178.53900146484375,332.98699951171875 C-178.53900146484375,332.98699951171875 178.53900146484375,332.98699951171875 178.53900146484375,332.98699951171875 C222.53900146484375,332.98699951171875 258.53900146484375,296.98699951171875 258.53900146484375,252.98699951171875 C258.53900146484375,252.98699951171875 222.54031372070312,-196.8846435546875 222.54031372070312,-196.8846435546875z" class="cart-is-empty-5"></path>
									</g>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,392,444.6077575683594)" opacity="1" style="display: block;">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M222.54417419433594,-196.9800262451172 C222.54417419433594,-196.9800262451172 -220.5442657470703,-196.9800262451172 -220.5442657470703,-196.9800262451172 C-220.5442657470703,-196.9800262451172 -258.54010009765625,252.98699951171875 -258.54010009765625,252.98699951171875 C-258.5394592285156,296.9867858886719 -222.54031372070312,332.98699951171875 -178.5398406982422,332.98699951171875 C-178.5398406982422,332.98699951171875 178.5398406982422,332.98699951171875 178.5398406982422,332.98699951171875 C222.54031372070312,332.98699951171875 258.5394287109375,296.9869079589844 258.54010009765625,252.98699951171875 C258.54010009765625,252.98699951171875 222.54417419433594,-196.9800262451172 222.54417419433594,-196.9800262451172z" class="cart-is-empty-6"></path>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,392,444.6077575683594)" opacity="1" style="display: block;">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M222.6721954345703,-195.80909729003906 C222.6721954345703,-195.80909729003906 -220.59326171875,-195.80909729003906 -220.59326171875,-195.80909729003906 C-220.59326171875,-195.80909729003906 -143.73165893554688,-195.3986053466797 -143.73165893554688,-195.3986053466797 C-143.73165893554688,-195.3986053466797 -220.68194580078125,-194.98538208007812 -220.68194580078125,-194.98538208007812 C-220.68194580078125,-194.98538208007812 223.4110565185547,-194.98538208007812 223.4110565185547,-194.98538208007812 C223.4110565185547,-194.98538208007812 145.77157592773438,-195.3986053466797 145.77157592773438,-195.3986053466797 C145.77157592773438,-195.3986053466797 222.6721954345703,-195.80909729003906 222.6721954345703,-195.80909729003906z" class="cart-is-empty-7"></path>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,392,436)" opacity="1" style="display: block;">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M-120.96610260009766,-114.24781799316406 C-121.19070434570312,-117.33003997802734 -121.3511734008789,-195.46878051757812 -121.30615997314453,-198.56314086914062 C-121.27742004394531,-267.3310241699219 -64.748046875,-323.0779113769531 5.0201592445373535,-323.0779113769531 C74.78836822509766,-323.0779113769531 131.37522888183594,-267.3310241699219 131.34616088867188,-198.56314086914062 C131.301025390625,-195.46087646484375 131.2310028076172,-117.31399536132812 131.00440979003906,-114.22374725341797" class="cart-is-empty-8"></path>
								</g>
							</g>
							<g style="display: none;" transform="matrix(1,0,0,1,392,436)" opacity="1">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M-120.6500015258789,-115.69100189208984 C-120.8740005493164,-118.76499938964844 -120.98899841308594,-197.86900329589844 -120.98899841308594,-201 C-120.98899841308594,-270.5820007324219 -64.58200073242188,-326.989013671875 5,-326.989013671875 C74.58200073242188,-326.989013671875 130.98899841308594,-270.5820007324219 130.98899841308594,-201 C130.98899841308594,-197.86099243164062 130.87399291992188,-118.7490005493164 130.6479949951172,-115.66699981689453" class="cart-is-empty-9"></path>
								</g>
							</g>
							<g transform="matrix(1,0,0,1,392,436)" opacity="1" style="display: none;">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M-0.006975629832595587,-37.11494827270508 C-0.006975629832595587,-37.11494827270508 0,-36.20192337036133 0,-36.20192337036133" class="cart-is-empty-10"></path>
								</g>
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
									<path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="currentColor" stroke-opacity="1" stroke-width="40" d=" M0.1157449409365654,-36.290122985839844 C0.1157449409365654,-36.290122985839844 0,-36.20192337036133 0,-36.20192337036133 C0,-36.20192337036133 -0.20019671320915222,-36.207801818847656 -0.20019671320915222,-36.207801818847656" class="cart-is-empty-11"></path>
								</g>
							</g>
						</g>
					</svg>
				</div>
				<p class="text-secondary my-3">{{ locals.offcanvasCart.body.empty }}</p>
				<a href="/products" class="btn btn-primary">
					<span class="px-1">
						{{ locals.offcanvasCart.body.shop }}
					</span>
					<i class="ti ti-arrow-{% if session.lang.code == 'ar' %}left{% else %}right{% endif %} align-middle fs-6" aria-hidden="true"></i>
				</a>
			</div>
			<div class="d-flex justify-content-center mb-3 d-none js-cart-spinner">
				<div class="spinner-border text-primary text-opacity-75" role="status">
					<span class="visually-hidden">{{ locals.accessibility.spinner.label }}</span>
				</div>
			</div>
			<div class="list-group overflow-auto js-cart-products" id="js-cart-products"></div>
		</div>
	</div>
	<div class="p-3 sticky-bottom bg-secondary-subtle d-none js-cart-buttons">
		<div class="d-grid gap-2">
			<a href="/products" class="btn btn-primary d-flex justify-content-between align-items-center">
				{{ locals.offcanvasCart.footer.shop }}
				<span class="fw-bold">
					<i class="ti ti-arrow-{% if session.lang.code == 'ar' %}left{% else %}right{% endif %} fs-5 align-middle" aria-hidden="true"></i>
				</span>
			</a>
			<a href="/cart/view" class="btn btn-primary btn-lg d-flex justify-content-between align-items-center js-button-checkout">
				{{ locals.offcanvasCart.footer.checkout }}
				<span class="fw-bold js-cart-total-price-stirng"></span>
			</a>
		</div>
	</div>
</div>

{% include 'toast.twig'%}

