{% if reviews %}

{% block js_files_inner %}
  <script src="{{ assetUrl('moment.min.js') }}"></script>
  <script src="{{ assetUrl('moment.ar.min.js') }}"></script>
  <script>
    function datetimeFormat(date, format) {
      return moment.utc(date).format(format);
    }
	moment.locale(document.documentElement.lang);
  </script>
{% endblock %}


	<div class="list-group">
		{% for key, review in reviews %}
			<div class="list-group-item list-group-item-action border-secondary-subtle">
				<div class="d-flex w-100 justify-content-between align-items-center border-secondary-subtle border-bottom">
					<h5 class="mb-1">
						<div class="text-warning my-2 fs-6">
							{% include 'product-rating.twig' with {'rating' : review.rating } %}
						</div>
					</h5>
					<span class="text-muted hstack gap-2 d-none d-sm-flex">
						{% if review.status == 'approved' %}
							<i class="ti ti-circle-check text-success-emphasis align-middle" aria-hidden="true" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<small>{{ locals.reviews.message.verified }}</small>"></i>
						{% endif %}
						{% if review.bought_this_item %}
							<i class="ti ti-basket align-middle" aria-hidden="true" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<small>{{ locals.reviews.message.boughtyes }}</small>"></i>
						{% else %}
							<i class="ti ti-basket-off align-middle" aria-hidden="true" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<small>{{ locals.reviews.message.boughtno }}</small>"></i>
						{% endif %}
						{# <i class="ti ti-clock-edit align-middle" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-title="<small>{{ datetimeFormat(review.created_at, 'd-m-Y g:i:s A', session.lang.code) }}</small>"></i> #}
						        {# <i class="ti ti-clock-edit align-middle" aria-hidden="true"></i>  #}
								<span class="small badge fw-light rounded-pill text-secondary border border-secondary border-opacity-10 bg-secondary-subtle bg-opacity-10 text-secondary-emphasis">
								<script>
                                var date = moment.utc(datetimeFormat('{{ review.created_at }}', 'YYYY-MM-DD HH:mm:ss'), "YYYY-MM-DD HH:mm:ss").local();
                                var humanReadableDate = date.fromNow();
                                document.write(humanReadableDate);
                            </script>
							</span>
					</span>
					<span class="d-sm-none"><small>{{ datetimeFormat(review.created_at, 'd-m-Y g:i:s A', session.lang.code) }}</small></span>
				</div>
				<p class="my-2 text-body-tertiary">
					{{ review.comment | raw }}
				</p>
				<small class="overflow-hidden d-inline-block">
					<span>
						{% if review.is_anonymous %}
							<i class="ti ti-spy align-baseline fs-5 float-start text-danger-emphasis" aria-hidden="true"></i>
						{% else %}
							<i class="ti ti-user align-baseline fs-5 float-start" aria-hidden="true"></i>
						{% endif %}
						<span class="visually-hidden">{{ locals.product_review_comment_by }}</span>
					</span>
					{% if review.is_anonymous %}
						<span class="fw-bold px-1 text-danger-emphasis">{{ locals.reviews.message.anonymous}}</span>
					{% else %}
						<span class="fw-bold px-1">
							{{ review.customer.name }}
						</span>
					{% endif %}

				</small>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="row row-cols-1 g-4 mb-3 animated slideIn">
		<div class="col">
			<div class="card border-secondary border-opacity-10 shadow-sm">
				<div class="card-body">
					<p class="card-title mb-0 text-muted">
						<i class="ti ti-message-chatbot align-middle" aria-hidden="true"></i>
						<span class="px-1">
							{{ locals.reviews.message.empty }}
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<script id="dataTemplateProductReview" type="x-tmpl-mustache">
  <div data-product-id="{{product.id}}" data-success-message="{{locals.reviews.message.success}}"></div>
</script>

<script defer src="{{ assetUrl('mustache.js') }}"></script>
<script defer src="{{ assetUrl('productReviews.js') }}"></script>
   