{% extends "layout.twig" %}

{% block header %}
  {% include 'header.twig' %}
{% endblock %}

{#
{% block css_files_inner %}
  <link rel="stylesheet" href="{{ assetUrl('nouislider.min.css') }}">
  <link rel="stylesheet" href="{{ assetUrl('nouislider.css') }}">
{% endblock %} 
#}

{% block main_content %}
    <section class="bg-primary text-center py-5 overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="text-white js-page-heading"></div>
          </div>
        </div>
      </div>
    </section>
	{% if products.data | length > 0  %}
		<section class="border-secondary border-top border-bottom border-opacity-10 py-2">
			<div class="container">
				{% include 'products-filters.twig' with { 'count' : products.total } %}
			</div>
		</section>

		{# 
		{% if products.filters|length > 0 %}
			{% include 'template_for_products_attributes' %}
		{% endif %}
		#}

		<section class="py-3 position-relative">
			<div class="container">
				<div id="noResults" class="row row-cols-1 g-4 mb-3 animated slideIn" style="display: none;">
					<div class="col">
						<div class="card border-secondary border-opacity-10 shadow-sm">
							<div class="card-body">
								<p class="card-title mb-0 text-muted">
									<i class="ti ti-basket-off align-middle" aria-hidden="true"></i>
									<span class="px-1">
										{{ locals.products_search_no_results_in_page }}
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>

		{# <div class="row"> #}
    {# {% if products.filters|length > 0 %}
        <div class="col-lg-2">
            {% include 'template_for_products_attributes' %}
        </div>
        <div class="col-lg-10">
    {% else %}
        <div class="col-lg-12">
    {% endif %} #}
        <div class="row row-cols-2 row-cols-sm-4 row-cols-lg-6 !row-cols-xl-6 g-3 js-products-switch js-row-grid" id="productsFiltered">
            {% for product in products.data %}
                <div class="col animated slideIn">
                    {% include 'product-item.twig' with {'product' : product, 'index': key} %}
                </div>
            {% endfor %}
        </div>
    {# </div> #}
	

			

			</div>
		</section>
		<section class="border-secondary border-top border-bottom border-opacity-10 py-2" role="pagination">
			<div class="container">
				<div class="hstack gap-3">
					<div class="me-0 hstack gap-1 text-muted small d-none d-sm-flex">
						<span>{{ locals.page }}</span>
						<span class="fw-bold">{{ products.current_page }}</span>
						<span>{{ locals.of }}</span>
						<span class="fw-bold">{{ products.last_page }}</span>
						<span class="vr mx-2"></span>
						<span>{{ locals.showing }}</span>
						<span class="fw-bold">{{ products.data | length }}</span>
						<span>{{ locals.items_from }}</span>
						<span class="fw-bold">{{ products.total }}</span>
						<span>
							{% if products.total > 1 and products.total < 11 %}
								{{ locals.items }}
							{% else %}
								{{ locals.item }}
							{% endif %}
						</span>
					</div>
					<div class="mx-auto me-sm-0 z-1">
						{% include 'pagination.twig' with { 'totalPages': products.last_page, 'currentPage': products.current_page } %}
					</div>
				</div>
			</div>
		</section>
	{% else %}
		<section class="py-3">
			<div class="container">
				<div class="row row-cols-2 g-0 d-flex align-items-center rounded border border-secondary border-opacity-10 shadow-sm">
					<div class="order-1 order-sm-0 col col-12 col-sm">
						<div class="card border-0">
							<div class="card-body">
								<p class="card-title mb-0 text-muted text-center text-sm-start">
									<i class="ti ti-zoom-exclamation align-middle d-none d-sm-inline-flex" aria-hidden="true"></i>
									<span class="px-1">
										{{ locals.products_search_no_results}}
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-3 me-sm-3 mt-3 mt-sm-0 js-clear-filter">
						{% include 'products-filters.twig' with { 'count' : products.total } %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	{% include 'offcanvas-products-prices.twig' %}
{% endblock %}

{% block footer_scripts %}
	<script defer src="{{ assetUrl('nouislider.min.js') }}"></script>
	<script defer src="{{ assetUrl('wNumb.min.js') }}"></script>
	{# <script defer src="{{ assetUrl('createSliderForProducts.js') }}"></script> #}
	<script defer src="{{ assetUrl('createSlider.js') }}"></script>

	<script defer>
		const hideFilter = () => {
		let filter = document.querySelector(".js-clear-filter");
			if(filter){
				let searchIndex = window.location.href.indexOf("/products?search=");
				let searchEndIndex = window.location.href.indexOf("&", searchIndex);
				if (searchIndex !== -1 && (searchEndIndex === -1)) {
					filter.classList.add("d-none");
				} else {
					filter.classList.remove("d-none");
				}
			}
		}
	hideFilter();
	</script>

	<!-- // ToDo: to use mustach.js -->
	<script>
		var productsDataHeadingTemplate = {
			products_search_text: '{{ locals.products_search_text }}',
			products_heading: '{{ locals.products_heading }}'
		};
	</script>
	<script src="{{ assetUrl('generateHeading.js') }}"></script>
	<script defer src="{{ assetUrl('filterByDataAttribute.js') }}"></script>
	<script defer src="{{ assetUrl('resetFilters.js') }}"></script>

	<!-- // ToDo: To rewrite this Code -->
 	<script>
        window.onProductAttributesTriggered = function(){
            $('#products-list').css('opacity', '0.4');
        }

        window.onProductAttributesChanged = function(htmlStr){
            var html = $.parseHTML( htmlStr );
            $('#products-list').html($('#products-list', html).html());
            $('#products-list').css('opacity', '1');
        }
    </script>	
{% endblock %}

{% block footer %}
  {% include 'footer.twig' %}
{% endblock %}
